<%- include('layout/header.ejs') %>

<div class="card mb-3 m-auto mt-5" style="max-width: 30rem;">
    <div class="card-header text-bg-success">
        <h2 class="m-2"> Edit User</h2>
    </div>
    <div class="card-body ">
        <form action="/update/<%= user._id %>" method="post" id="add-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name </label>
                <input type="text" name="name" class="form-control" id="exampleFormControlInput1" value="<%= user.name%>" placeholder="Enter your name" required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email </label>
                <input type="text" name="email" class="form-control" id="exampleFormControlInput1" value="<%= user.email%>" placeholder="Enter your email" required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Phone </label>
                <input type="text" name="phone" class="form-control" id="exampleFormControlInput1" value="<%= user.phone%>" placeholder="Enter your number phone" required>
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Select image</label>
                <input class="form-control" type="file" name="image" id="formFile">
                <img src="/<%= user.image %>" width="100" class="img-thumbnail mt-1">
                <input type="hidden" name="old_image" value="<%= user.image %>">
              </div>
              <input class="btn w-100 btn-success p-2 fs-5" type="submit" value="Update User">
        </form>
    </div>

  </div>


<%- include('layout/footer.ejs') %>